EXCHANGE=binance
TRADING_PAIRS=XRP/USDT
CLIENT_ID=test-client
API_KEY=
API_SECRET=
INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=my-super-secret-token
INFLUX_ORG=myorg
INFLUX_BUCKET=trading
LOG_LEVEL=debug
INTERVALS=1m,5m,15m,1h,4h,1d
